@media screen and (min-width: 400px){
  .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .center {
    padding: 10px;
    text-align: center;
    display: block;
  }
  .drumMenu{
    display: flex;
    list-style: none;
    padding: 10px;
    width: auto;
  }
  .drumLi{
    flex-grow: 1;
    padding: 5%;
  }
  .drumButton {
    width: 100%;
    border-radius: 8px;
    transition: box-shadow 0.2s ease-in-out;
    padding: 100px;
    border: none;
    background-color: #D4145A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
  }
  .animation{
    animation: anim 1s;
  }
  @keyframes anim {
    0%{ 
      transform:rotate(10deg); 
    } 
    50%{ 
      transform:rotate(-20deg); 
    } 
    10%{ 
      transform:rotate(20deg); 
    } 
  }
  .randomize{
    border-radius: 8px;
    transition: box-shadow 0.2s ease-in-out;
    padding: 5px;
    border: none;
    background-color: #D4145A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
  }
  .randomize:hover{
    box-shadow: 1px 1px 3px 1px grey;
  }
  .container{
    display: flex;
    align-items: stretch;
    grid-gap: 0px;
  }
  .musicContainer{
    display: flex;
    align-items: stretch;
    grid-gap: 0px;
    padding: 30px;
  }
  .musicItem{
    flex-grow: 1;
    gap: 10px;
  }
  .item{
    flex-grow: 1;
  }
  .smallimg{
    width: 20px;
  }
  p{
    font-size: 25px;
  }
  .hover-button{
    border-radius: 8px;
    transition: box-shadow 0.2s ease-in-out;
    padding: 5px;
    border: none;
    background-color: #D4145A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
  }
  .hover-button:hover{
    box-shadow: 1px 1px 3px 1px grey;
  }
  #Title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 65px
  }
  ul{
    list-style-type: circle;
    background: white;
    color: #D4145A;
    margin: 5px;
    padding: 5px;
  }
  hr{
    width: 100%;
    border-radius: 10px;
    border: 5px solid black;
  }
  p{
    font-family: 'Ubuntu', sans-serif;
  }
  .musicpara{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #D4145A;
    width: 25%;
    text-align: center;
    justify-content: center;
    padding: 10px;
  }
  #topnav{
    overflow: hidden;
    background-color: black;
  }
  #topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
  }
  #topnav a:hover{
    background-color: #ddd;
    color: black;
  }
  #topnav a.active{
    background-color: #D4145A;
    color: white;
  }
}
@media screen and (max-width: 400px){
  .container{
    display: flex;
    align-items: stretch;
    grid-gap: 0px;
  }
  .item{
    flex-grow: 1;
  }
  .smallimg{
    width: 20px;
  }
  .hover-button{
    border-radius: 8px;
    transition: box-shadow 0.2s ease-in-out;
    padding: 10px;
    border: none;
    background-color: #D4145A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: block;
  }
  .hover-button:hover{
    box-shadow: 1px 1px 3px 1px grey;
  }
  #Title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  ul{
    list-style-type: circle;
    background: white;
    color: #D4145A;
    margin: 5px;
    padding: 5px;
  }
  hr{
    width: 100%;
    border-radius: 10px;
    border: 5px solid black;
  }
  p{
    font-family: 'Ubuntu', sans-serif;
  }
  #topnav{
    overflow: hidden;
    background-color: black;
  }
  #topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 12px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
  }
  #topnav a:hover{
    background-color: #ddd;
    color: black;
  }
  #topnav a.active{
    background-color: #D4145A;
    color: white;
  }
  .musicpara{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #D4145A;
    width: 0;
    text-align: center;
    justify-content: center;
  }
}
