p {
  color: red;
  text-align: center;
  background-color: inherit;
}
h1 {
font-style: italic;
font-family: futura,sans-serif;
}
#test01{
  color: purple;
}
.test{
  text-shadow: 2px 8px grey;
}
a:hover{
  color: red;
}
